.landing-page {
    position: relative;

    div {
        display: inline-block;
        @include position(absolute, 1, 50%, 0, 0, 50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }
    
	h2 {
		padding-bottom: 20px;
		font-family: 'edosz';
		@include textcharacteristics($white, 30px, 400, uppercase);
		text-align: center;
    }
    
	button {
		padding: 7px 50px;
		border-style: none;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: $black;
		@include textcharacteristics($white, 12px, 800, uppercase);
		transition: 0.3s ease-in-out;
		outline: none;

		&:hover {
			background-color: transparentize($black, 0.3);
		}
	}
}